<div class="modal-body">
  <div class="mt-3 mb-3">
    <% if current_user.user_plans.present? %>
    <%= question.answer %>
    <% else %>
    <div class="alert alert-primary" role="alert">
      <strong>Alert!</strong> You must be a premium user to see the answer.
    </div>
    <% end -%>
  </div>
  <div class="mb-3">
    <h5><span class="badge bg-primary fs-6"><%= question.keywords %></span></h5>
  </div>
  <div>
    <!-- liking and disliking button -->
    <% if user_signed_in? %>
    <% like = current_user.likes.find_by(question: question) %>
    <% if like.nil? %>
    <%= button_to  likes_path, params: { like: {question_id: question.id}}, method: :question, class:"btn btn-light position-absolute" do %>
    <i class="fa-solid fa-thumbs-up fa-xl", title="Like"></i> 
    <% end -%>
    <% else %>
    <%= button_to like_path(like), params: { like: {question_id: question.id}}, method: :delete, class:"btn btn-light position-absolute" do %>
    <i class="fa-solid fa-thumbs-down fa-xl", title="Dislike"></i>
    <% end -%>
    <% end -%>
    <% end -%>
    <span class="position-relative top-0  translate-middle badge rounded-pill bg-danger"><%= question.likes.count%></span>
  </div>

  <!-- user-reactions -->
  <div class="user-reactions mt-5">
    <% if user_signed_in? %>
    <%= link_to question_user_reactions_path(question, user_reaction: { reactable_type: 'love' }), method: :post, class:"user-reaction love btn btn-light position-relative", remote: true, id: "love-reaction" do %>
    <i class="fa-solid fa-heart fa-xl", title="Love"></i>
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger reaction-love"> <%= question.user_reactions_count('love') %></span>
    <% end %>

    <%= link_to question_user_reactions_path(question, user_reaction: { reactable_type: 'laugh' }), method: :post, class:"user-reaction laugh btn btn-light position-relative", remote: true, id: "laugh-reaction" do %>
    <i class="fa-solid fa-face-laugh fa-xl ", title="Laugh"></i>
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger reaction-laugh"><%= question.user_reactions_count('laugh') %></span>
    <% end %>

    <%= link_to question_user_reactions_path(question, user_reaction: { reactable_type: 'support' }), method: :post, class:"user-reaction support btn btn-light position-relative", remote: true, id: "support-reaction" do %>
    <i class="fa-solid fa-circle-info fa-xl ", title="Support"></i>
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger reaction-support"><%= question.user_reactions_count('support') %></span>
    <% end %>

    <%= link_to question_user_reactions_path(question, user_reaction: { reactable_type: 'celebrate' }), method: :post, class:"user-reaction celebrate btn btn-light position-relative", remote: true, id: "celebrate-reaction" do %>
    <i class="fa-solid fa-hands-clapping fa-xl ", title="Celebrate"></i>
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger reaction-celebrate"><%= question.user_reactions_count('celebrate') %></span>
    <% end %>

    <%= link_to question_user_reactions_path(question, user_reaction: { reactable_type: 'insightful' }), method: :post, class:"user-reaction insightful btn btn-light position-relative", remote: true, id: "insightful-reaction" do %>
    <i class="fa-solid fa-lightbulb fa-xl ", title="Insightful"></i>
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger reaction-insightful"><%= question.user_reactions_count('insightful') %></span>
    <% end %>
    <% end %>
  </div>
  <div class="container mt-3">
    <%= render partial: "comments/comment", locals: { commentable: @question } %>
    <%= render partial: "comments/form", locals: { commentable: @question } %>
  </div>
</div>


