<h1> Hello User  </h1>
<p>
  A new <b><%= @question.class.to_s %></b> has been created. Below is the detail of the question created :
</p>
<p> <strong> Question No. <%= @question.id %> :  </strong> <%= @question.title %> </p>
<h4>Now the <%= @question.class.to_s %> has total <%= @question.class.count %> records. </h4>
<h4>Thanks</h4>
<h4>Admin Team</h4>