<hr>
<div class="container mt-4">
  <strong class="mt-3 mb-3">Comments : </strong>
  <% commentable.comments.each do |comment| %>
  <div class="row mb-3 mt-3 border">
    <div class="col-lg-6 mt-2 mb-2">
      <small>by <%= comment.user.full_name %></small><br>
      <div class="mt-2">
        <%= comment.title %>
      </div>
    </div>
    <div class="col-lg-6 mt-2 mb-2">
      <% if (comment.updated_at - comment.created_at) > 1 %>
      <small class="float-end">Edited : <%= time_ago_in_words(comment.updated_at) %> ago </small>
      <% else %>
      <small class="float-end">Posted : <%= time_ago_in_words(comment.created_at) %> ago </small><br>
      <% end %>
      <div>
        <% if current_user == comment.user %>
          <%= button_to "Delete", [@question, comment], class: "btn btn-danger btn-sm  mt-3 float-end ", method: :delete %>
        <% end -%>
      </div>

      <!-- Modal for edit the comment -->
      <% if current_user == comment.user %>
        <%= link_to "Edit", edit_question_comment_path(@question, comment), class: "btn btn-primary btn-sm mb-2 me-2 mt-3  float-end", data: { bs_toggle: "modal", bs_target:"#editCommentModal", remote: true} %>
      <% end -%>

      <!-- Modal -->
      <div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="editCommentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="editCommentModalLabel">Edit Comment</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="editCommentPage">
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <% end %>
</div>