<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">IPA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Questions', questions_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Plans', plans_path, class:"nav-link active" %>
        </li>
      </ul>
      <form class="d-flex">
        <%if user_signed_in?%>
        <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class:"btn btn-primary" %>
        <% else %>
        <%= link_to 'Sign In', new_user_session_path, class:"btn btn-primary" %>
        <% end -%>
      </form>
      <div class="dropdown mx-2">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Login by Social Accounts
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><%= button_to  'Sign with Google', user_google_oauth2_omniauth_authorize_path, method: :post, :data => {turbo: "false"}, class: 'dropdown-item' %></li>
          <li><%#= button_to  'Sign with Github', user_github_omniauth_authorize_path, method: :post, :data => {turbo: "false"}, class: 'dropdown-item' %></li>
          <li><%#= button_to  'Sign with Linkedin', user_google_oauth2_omniauth_authorize_path, method: :post, :data => {turbo: "false"}, class: 'dropdown-item' %>

          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>