<% plan_ids = current_user.user_plans.pluck(:plan_id).uniq %>
<div class="col-lg-8 mx-auto mt-4">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center">Subsription Plan</h2>
    </div>
  </div>
  <div class="row">
    <% @plans.each do |plan| %>
      <div class="col-lg-6">
        <ul class="list-group">
          <li class="list-group-item mt-3 mb-3 <%= (plan_ids.include? plan.id) ?  'active': ''  %> " aria-current="true"> 
            <p><strong><%= plan.name %></strong></p>
            <p><strong><%= plan.price %></strong></p>
            <% if plan_ids.include? plan.id %>
            <p class="badge bg-success fs-6">Active Plan</p><br>
            <p class="fw-bold">Plan End date : <%= plan.user_plans.first.end_date %></p>
            <p class="fw-bold">Days remaining in plan : <%= current_user.user_plans.first.remaining_days %> days</p>
            <% else %>
            <%= link_to 'Get Plan', add_user_plan_path(plan_id: plan.id), class:"btn  btn-primary", remote: true %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>  
</div>
